### Titantic Passenger Survival Rate Prediction with Naive Bayer Classifier

> Data Source Link: https://www.kaggle.com/competitions/titanic/data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

#### Preprocessing Data

In [3]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
# load input and target data
target = df.Survived
inputs = df.drop(['Survived'], axis='columns')

In [5]:
# Use one hot encoding for gender
from numpy import int16

dummies = pd.get_dummies(inputs.Sex, dtype=int16)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [6]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [7]:
inputs.drop(['Sex'], axis='columns', inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [8]:
# Check NaN values
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
# fill Na values with mean of that columns
inputs.Age = inputs.Age.fillna(inputs['Age'].mean())
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

#### Split Dataset

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [11]:
print(len(X_train))

712

In [12]:
print(len(y_train))

712

In [13]:
print(len(X_test))

179

### Train Using Naive Bayers

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [15]:
model.fit(X_train, y_train)

GaussianNB()

In [16]:
model.score(X_test, y_test)

0.8100558659217877

In [17]:
model.predict(X_test[:15])

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0])

In [18]:
y_test[:15]

507    1
622    1
637    0
612    1
480    0
245    0
708    1
260    0
434    0
152    0
558    1
671    0
647    1
254    0
105    0
Name: Survived, dtype: int64

In [21]:
model.predict_proba(X_test[:15])

array([[9.16924271e-01, 8.30757291e-02],
       [9.86866222e-01, 1.31337779e-02],
       [9.74858989e-01, 2.51410109e-02],
       [8.25619701e-02, 9.17438030e-01],
       [9.75573996e-01, 2.44260044e-02],
       [6.21138516e-01, 3.78861484e-01],
       [1.44141567e-05, 9.99985586e-01],
       [9.88360239e-01, 1.16397609e-02],
       [8.64260086e-01, 1.35739914e-01],
       [9.87418594e-01, 1.25814064e-02],
       [2.86513529e-03, 9.97134865e-01],
       [8.78447683e-01, 1.21552317e-01],
       [9.01350547e-01, 9.86494532e-02],
       [8.55078315e-02, 9.14492169e-01],
       [9.88158884e-01, 1.18411158e-02]])